[
    {
sql: '''create table my_tb.info (a string,b integer, c object as (raw string (index=yes,ppp=yes))) with meta (_parent (type='people')) with option (index.number_of_shars=10,index.flush_inteval='10s');''',
ast: {
    type: 'CREATE_TABLE'
    children: [
        {
            type: 'TABLE_NAME'
            children: [
                {
                    type: 'DOT'
                    children: [
                        {
                            type: 'VALUE'
                            value: 'my_tb'
                        }
                        {
                            type: 'VALUE'
                            value: 'info'
                        }
                    ]
                }
            ]
        }
        {
            type: 'TABLE_COLUMNS'
            children: [
                {
                    type: 'COLUMN_DEFINE'
                    value: 'a'
                    children: [
                        {
                            type: 'CORE_TYPE'
                            value: 'string'
                        }
                    ]
                }
                {
                    type: 'COLUMN_DEFINE'
                    value: 'b'
                    children: [
                        {
                            type: 'CORE_TYPE'
                            value: 'integer'
                        }
                    ]
                }
                {
                    type: 'COLUMN_DEFINE'
                    value: 'c'
                    children: [
                        {
                            type: 'CORE_TYPE'
                            value: 'object'
                        }
                        {
                            type: 'TABLE_COLUMNS'
                            children: [
                                {
                                    type: 'COLUMN_DEFINE'
                                    value: 'raw'
                                    children: [
                                        {
                                            type: 'CORE_TYPE'
                                            value: 'string'
                                        }
                                        {
                                            type: 'DICT'
                                            children: [
                                                {
                                                    type: 'KEY_VALUE'
                                                    children: [
                                                        {
                                                            type: 'VALUE'
                                                            value: 'index'
                                                        }
                                                        {
                                                            type: 'VALUE'
                                                            value: 'yes'
                                                        }
                                                    ]
                                                }
                                                {
                                                    type: 'KEY_VALUE'
                                                    children: [
                                                        {
                                                            type: 'VALUE'
                                                            value: 'ppp'
                                                        }
                                                        {
                                                            type: 'VALUE'
                                                            value: 'yes'
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
        {
            type: 'TABLE_METAS'
            children: [
                {
                    type: 'META_DEFINE'
                    value: '_parent'
                    children: [
                        {
                            type: 'DICT'
                            children: [
                                {
                                    type: 'KEY_VALUE'
                                    children: [
                                        {
                                            type: 'VALUE'
                                            value: 'type'
                                        }
                                        {
                                            type: 'VALUE'
                                            value: 'people'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
        {
            type: 'TABLE_OPTIONS'
            children: [
                {
                    type: 'DICT'
                    children: [
                        {
                            type: 'KEY_VALUE'
                            children: [
                                {
                                    type: 'DOT'
                                    children: [
                                        {
                                            type: 'VALUE'
                                            value: 'index'
                                        }
                                        {
                                            type: 'VALUE'
                                            value: 'number_of_shars'
                                        }
                                    ]
                                }
                                {
                                    type: 'VALUE'
                                    value: '10'
                                }
                            ]
                        }
                        {
                            type: 'KEY_VALUE'
                            children: [
                                {
                                    type: 'DOT'
                                    children: [
                                        {
                                            type: 'VALUE'
                                            value: 'index'
                                        }
                                        {
                                            type: 'VALUE'
                                            value: 'flush_inteval'
                                        }
                                    ]
                                }
                                {
                                    type: 'VALUE'
                                    value: '10s'
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]
}

    }]